@model MrFixIt.Models.Job

<script>
    $(document).ready(function () {
        $('.claim-form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Claim")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMessage = 'You\'ve successfully claimed this job!';
                    $('#result').html(resultMessage);
                    $('#confirm-claim').hide();
                }
            });
        });
    });
</script>

<div id="confirm-claim">
    <h2>Are you sure you want to claim this job?</h2>
    <hr />

    @using (Html.BeginForm(new { @class = "claim-form" }))
    {
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)

        <h4>@Model.Title</h4>
        <input type="submit" value="Claim" />
    }
   
</div>
<div id="result"></div>