@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Job";
}

@model MrFixIt.Models.Job
<div class="container">
    <h2>Add a New Job</h2>
    <hr />
    <div class="form">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Title, new { @class = "labels"})
            @Html.TextBoxFor(model => model.Title, new { @required = "true" })
            <br /><br />
            @Html.LabelFor(model => model.Description, new { @class = "labels" })
            @Html.TextBoxFor(model => model.Description, new { @required = "true" })
            <br /><br />
            <input type="submit" value="Add new job" class="btn btn-default" />
        }
    </div>
    <br />
    <p>@Html.ActionLink("Back to jobs", "Index")</p>
</div>
