@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mr Fix-It Jobs";
}


<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
       
            @if (Job.Worker == null)
            {
            <p>This job is unclaimed. 
                @if (ViewBag.Worker != null)
                {
                    @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId, @class = "btn" })
                }
            </p>
            }
            else
            {
                <p>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>

            }
    </ul>


    <hr />
}

